xsd/internal/SharePointConnector/ListDrives.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_O365_ns="http://www.convertigo.com/convertigo/projects/lib_O365" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_O365">
    <xsd:element name="SharePointConnector__ListDrives" type="lib_O365_ns:SharePointConnector__ListDrivesRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="SharePointConnector__ListDrivesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_O365_ns:SharePointConnector__ListDrivesResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="SharePointConnector__ListDrivesResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_O365_ns:SharePointConnector__ListDrivesResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector__ListDrivesRequestData">
        <xsd:sequence>
            <xsd:element name="siteid" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object__odata_contextType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="@odata.context" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_createdBy_user_displayNameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_createdBy_userType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="displayName" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_createdBy_user_displayNameType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_createdByType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="user" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_createdBy_userType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_createdDateTimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_descriptionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_driveTypeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_lastModifiedBy_user_displayNameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_lastModifiedBy_user_emailType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_lastModifiedBy_user_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_lastModifiedBy_userType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="displayName" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_lastModifiedBy_user_displayNameType"/>
            <xsd:element minOccurs="0" name="email" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_lastModifiedBy_user_emailType"/>
            <xsd:element minOccurs="0" name="id" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_lastModifiedBy_user_idType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_lastModifiedByType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="user" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_lastModifiedBy_userType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_lastModifiedDateTimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_owner_user_displayNameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_owner_user_emailType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_owner_user_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_owner_userType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="displayName" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_owner_user_displayNameType"/>
            <xsd:element minOccurs="0" name="email" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_owner_user_emailType"/>
            <xsd:element minOccurs="0" name="id" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_owner_user_idType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_ownerType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="user" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_owner_userType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_quotaType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="object" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_object_webUrlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_value_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="createdBy" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_createdByType"/>
            <xsd:element minOccurs="0" name="createdDateTime" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_createdDateTimeType"/>
            <xsd:element minOccurs="0" name="description" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_descriptionType"/>
            <xsd:element minOccurs="0" name="driveType" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_driveTypeType"/>
            <xsd:element minOccurs="0" name="id" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_idType"/>
            <xsd:element minOccurs="0" name="lastModifiedBy" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_lastModifiedByType"/>
            <xsd:element minOccurs="0" name="lastModifiedDateTime" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_lastModifiedDateTimeType"/>
            <xsd:element minOccurs="0" name="name" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_nameType"/>
            <xsd:element minOccurs="0" name="owner" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_ownerType"/>
            <xsd:element minOccurs="0" name="quota" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_quotaType"/>
            <xsd:element minOccurs="0" name="webUrl" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_object_webUrlType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_object_valueType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="object" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_value_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector_ListDrives_document_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_odata_context" type="lib_O365_ns:SharePointConnector_ListDrives_document_object__odata_contextType"/>
            <xsd:element minOccurs="0" name="value" type="lib_O365_ns:SharePointConnector_ListDrives_document_object_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SharePointConnector__ListDrivesResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="object" type="lib_O365_ns:SharePointConnector_ListDrives_document_objectType"/>
            <xsd:element minOccurs="0" name="error" type="lib_O365_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_O365_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_O365_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
